
body{
  background-image: linear-gradient(to bottom left, #f071bf, cyan);
}

h1{
  color: white;
  font-size: 60px;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  text-align: center;
}

h2{
  color: #f7f7f7;
  font-size: 50px;
  font-family: 'Bungee Hairline', cursive;
  font-weight: normal;
  text-align: center;
}

p{
  color: #f3f3f3;
  font-size: 35px;
  font-family: 'Bungee Hairline', cursive;
  font-weight: normal;
  text-align: center;
}

img{
  width: 400px;
  height: 400px;
  border: 2px dotted;
  border-color: #99ebff;
  padding: 2px;
}

#main-navbar{
  background-color: #f071bf;
  position: relative;
  width: 100%;
  text-align: center;
}

#navbar-container{
  position: relative;
}

#navbar-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}

#navbar-container ul li {
  float: left;
  display: block;
}

#navbar-container ul li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
}

#navbar-container ul li a:hover{
  background-color: #6fc1d1;
}

#navbar-container ul li a:link{
  text-decoration: none;
}

#onpage{
  text-decoration: underline; 
  text-decoration-color: #36c240;
}

#resume-header{
  position: relative;
  width: 100%;
  text-align: center;
}

#resume-header ul {
  padding: 5px;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}



#resume-content{
  position: relative;
  width: 75%;
  text-align: left;
  float: left;
}

